<header class="ui large top fixed menu hr-header">
  <div class="ui container">
    <a class="header item brand" routerLink="/">
<img src="/header-logo.png" alt="HR System" class="header-logo">
</a>

    <a
      class="item"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>

    <a class="item" routerLink="/announcements" routerLinkActive="active">
      Announcements
    </a>

    <a class="item" routerLink="/company-updates" routerLinkActive="active">
      Company Updates
    </a>

    <a class="item" routerLink="/download-form" routerLinkActive="active">
      Download Form
    </a>
    <div class="right menu">
      <a class="item"  routerLinkActive="active">
        Login
      </a>

      <div class="item">
        <a class="ui primary button" >
          Employee Portal
        </a>
      </div>
    </div>
  </div>
</header>