<footer class="ui inverted vertical segment hr-footer">
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="seven wide column">
        <h3 class="ui inverted header">Location</h3>
        <p>
          Zone 6, Tin-ao Agusan Cagayan de Oro City
        </p>
      </div>

      <div class="five wide column">
        <h4 class="ui inverted header">Hours</h4>
        <div class="ui inverted link list">
          <a class="item" routerLink="/">Monday</a>
          <a class="item" routerLink="/login">7:30am-6:30pm</a>
          <a class="item" routerLink="/announcements">Tuesday—Friday</a>
          <a class="item" routerLink="/company-updates">7:30am-6:00pm</a>
        </div>
      </div>

      <div class="four wide column">
        <h4 class="ui inverted header">Contact</h4>
        <div class="ui inverted list">
          <div class="item">
            <i class="mail icon"></i>
            <div class="content">hrdtecfuel2023@gmail.com</div>
          </div>
          <div class="item">
            <i class="phone icon"></i>
            <div class="content">09171560564</div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui inverted section divider"></div>

    <div class="footer-bottom">
      <span>© {{ currentYear }} HR System. All rights reserved.</span>
    </div>
  </div>
</footer>
